:root{

    --un:#222222;
    --deux:#FF6D1F;
    --trois:#FAF3E1;

}

@keyframes slideUp{
    0%{
        transform:translateY(50px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}


.header-navbar-pc{
    display:block;
}
.header-navbar-mobile{
    display:none;
}

@media (max-width:768px){

    .header-navbar-pc{
        display:none;
    }
    .header-navbar-mobile{
        display:block;
    }
}


header{
    
    color:var(--trois);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:fixed;
    top:0;
    background-color: var(--un);
    width:100%;
    height:5em;
    text-align: center;
    box-shadow: 1px 2px 3px var(--deux);
}   

.header-navbar-mobile ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header-navbar-mobile li{
    display: inline-block;

    
}
.header-navbar-mobile .header-mobile-img-logo,.header-mobile-img-menu{
    width:100px;
    height:auto;
}

.header-mobile-img-logo{
    margin-left: -1em;
}

.header-mobile-img-menu{
    margin-right: 2em;
}







#hero{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:3em;
    color:var(--trois);
    height:35em;
    width:100%;
    
    
    background: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.73)), url("image_acceuil.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#hero h1,h3,a{
    opacity:0;
}

#hero h1{
    margin-top: 4em;
    animation:slideUp 1s ease-out forwards;
}



#hero h3{
    animation:slideUp 1s ease-out forwards;
    animation-delay: 0.5s;
    font-weight: 500;
    
}


#hero h4{
    margin-top:7em;
    font-size:20px;
}
#hero a{
    font-weight: 100;
    animation:slideUp 1s ease-out forwards;
    animation-delay:2s;
    text-decoration: none;
    color:inherit;
    cursor:pointer;
}







#services{

    font-size:2em;
    display:flex;
    text-align: center;
    flex-direction: column;
    margin-top:0;
    color:var(--deux);
    height:4.5em;
    width:100%;

    background-image: url("services-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

#services h2{
    animation:slideUp 1s ease-out forwards;

}

#liste-services{
    background-color:white;
    color:var(--un)
}

#liste-services .Peinture{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:3em;
    color:var(--trois);
    height:35em;
    width:100%;
    height:10em;
    background: linear-gradient(rgba(34,34,34,0.60), rgba(34,34,34,0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}



#liste-services .Nettoyage{
    margin-top :-1.1em;
    height:10em;
    background: linear-gradient(rgba(255,109,31,0.60), rgba(255,109,31,0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#liste-services .Traitement{
    margin-top :-1.1em;

    height:10em;
    background: linear-gradient(rgba(250,243,225,0.60), rgba(250,243,225,0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}