:root{

    --un:#222222;
    --deux:#FF6D1F;
    --trois:#FAF3E1;
    --quatre:#F5E7C6;
}

@keyframes slideUp{
    0%{
        transform:translateY(50px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}

*{
    margin-right:0;
    margin-left: 0;
    
}


.header-navbar-pc{
    display:block;
}
.header-navbar-mobile{
    display:none;
}

@media (max-width:768px){

    .header-navbar-pc{
        display:none;
    }
    .header-navbar-mobile{
        display:block;
    }
}


header{
    
    color:var(--trois);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:fixed;
    top:0;
    background-color: var(--un);
    width:100%;
    height:5em;
    text-align: center;
    box-shadow: 1px 2px 3px var(--deux);
    z-index:1000;
}   

.header-navbar-mobile ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header-navbar-mobile li{
    display: inline-block;

    
}
.header-navbar-mobile .header-mobile-img-logo,.header-mobile-img-menu{
    height:auto;
}

.header-mobile-img-logo{
    margin-left: -1em;
    margin-top:-0.65em;
    width:125px;
}

.header-mobile-img-menu{
    margin-right: 2em;
    margin-top:0.75em;
    width:50px;
}





.navbar-mobile-menu{
    position:absolute;
    background-color: var(--un);
    right:0;
    top:5.1em;
    padding:1em;
    font-size: 1em;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    transition: right 0.4s ease;
}

.navbar-mobile-menu a{
    color:var(--trois);
    text-decoration: none;
    padding:1em;
    border-top: 1px solid var(--deux);
}

.navbar-mobile-menu a:hover{
    background-color: var(--trois);
    color:var(--un)
}
.navbar-mobile-menu{
    opacity:0;
}

.navbar-mobile-menu.open{
    opacity: 1;
}








#hero{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:3em;
    color:var(--trois);
    height:35em;
    width:100%;
    
    
    background: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.73)), url("image_acceuil.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#hero h1,#hero h3,#hero a{
    opacity:0;
}

#hero h1{
    margin-top: 4em;
    animation:slideUp 1s ease-out forwards;
}



#hero h3{
    animation:slideUp 1s ease-out forwards;
    animation-delay: 0.5s;
    font-weight: 500;
    
}


#hero h4{
    margin-top:7em;
    font-size:20px;
}
#hero a{
    font-weight: 100;
    animation:slideUp 1s ease-out forwards;
    animation-delay:2s;
    text-decoration: none;
    color:inherit;
    cursor:pointer;
}







#services{

    font-size:2em;
    display:flex;
    text-align: center;
    flex-direction: column;
    margin-top:0;
    color:var(--deux);
    height:4.5em;
    width:100%;

    background-image: url("services-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

#services h2{
    animation:slideUp 1s ease-out forwards;

}








#liste-services{
    background-color:white;
    color:var(--un);
    margin-top:-2.8em;
}

#liste-services h2{
    font-size:2em;
    margin-top:2.5em;
}


#liste-services hr{
    width:50%;
    margin:20px auto;
    margin-top:-5px;
    height:2px;
    background-color: var(--quatre);
}

#liste-services .Toiture hr{
    background-color: var(--un);
}

#liste-services .Peinture hr{
    background-color: var(--trois);
}

#liste-services .Nettoyage hr{
    background-color: var(--quatre);
}

#liste-services .Agricole hr{
    background-color: var(--un);
}



#liste-services p{
    font-weight: 200;
}
#liste-services .Toiture{
    display:flex;
    flex-direction: column;
    text-align: center;

    margin-top:3em;
    color:var(--un);
    height:35em;
    width:100%;
    height:25em;
    background: linear-gradient(rgba(250,243,225,0.60), rgba(250,243,225,0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#liste-services .Toiture .Toiture-para{
    margin-right:1em;
    margin-left:1em;
    font-size:1.2em;
}

#liste-services .Toiture .Toiture-para p{
    opacity:0;
    transform:translateY(20px);
    transition: all 0.5s ease;
}

#liste-services .Toiture:hover .Toiture-para p{
    
    opacity:1;
    transform:translateY(0);
}

#liste-services .Peinture{
    display:flex;
    flex-direction: column;
    text-align: center;

    color:var(--trois);
    height:35em;
    width:100%;
    height:25em;
    background: linear-gradient(rgba(34,34,34,0.60), rgba(34,34,34,0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#liste-services .Peinture .Peinture-para{
    margin-right:1em;
    margin-left:1em;
    font-size:1.2em;
}

#liste-services .Peinture .Peinture-para p{
    opacity:0;
    transform:translateY(20px);
    transition: all 0.5s ease;
}

#liste-services .Peinture:hover .Peinture-para p{
    
    opacity:1;
    transform:translateY(0);
}


#liste-services .Nettoyage{
    display:flex;
    flex-direction: column;
    text-align: center;
    color:var(--quatre);
    margin-top :-1.1em;
    height:25em;
    background: linear-gradient(rgba(255,109,31,0.60), rgba(255,109,31,0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#liste-services .Nettoyage .Nettoyage-para{
    margin-right:1em;
    margin-left:1em;
    font-size:1.2em;

}

#liste-services .Nettoyage .Nettoyage-para p{
    opacity:0;
    transform:translateY(20px);
    transition: all 0.5s ease;
}

#liste-services .Nettoyage:hover .Nettoyage-para p{
    
    opacity:1;
    transform:translateY(0);
}

#liste-services .Agricole{
    display:flex;
    flex-direction: column;
    text-align: center;

    margin-top :-1.1em;
    color:var(--un);
    height:25em;
    background: linear-gradient(rgba(241, 250, 225, 0.6), rgba(238, 250, 225, 0.73)), url("image-liste-services.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}

#liste-services .Agricole .Agricole-para{
    margin-right:1em;
    margin-left:1em;
    font-size:1.2em;

}

#liste-services .Agricole .Agricole-para p{
    opacity:0;
    transform:translateY(20px);
    transition: all 0.5s ease;
}

#liste-services .Agricole:hover .Agricole-para p{
    
    opacity:1;
    transform:translateY(0);
}

#contacts{
    background-color: var(--trois);
}