.TOP{
    font-size: 30px;
    text-align: center;
    background-color: black;
    color:gold;

    border: 1px solid black;
    margin: 0px;
    padding: 30px;
}


#MENU ul{
    list-style: none;
    display: flex;
    text-indent: 15px;
}

#show .hide{
    visibility: hidden;
    display: none;
    
}
#show .hide-bis{
    visibility:visible;
    display:list-item;
    flex-direction: column;
    padding: 0;
    
}

#show:hover .hide{
    visibility:visible;
    display:list-item;
    flex-direction: column;
    padding: 0;
}
